/*=========================================GOOGLE FONTS=========================================*/
/* tipografia de google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/*=========================================VARIABLES=========================================*/
:root {
    /*================= PALETA DE COLORES=================*/
    --principal: #2563eb;
    /* Color principal del sitio */
    --secundario: #3b82f6;
    /* Color secundario */
    --claro: #ffffff;
    /* Color blanco */
    --texto: #d1d5db;
    /* Color para textos secundarios */
    --gris: #1e293b;
    /* Color gris oscuro */
    --fondo: #0f172a;
    /* Color de fondo principal */
    --fondo2: #111827;
    /* Segundo color de fondo */

}

/*=========================================RESET=========================================*/
* {
    margin: 0;
    /* Elimina el margen por defecto */
    padding: 0;
    /* Elimina el relleno por defecto */
    box-sizing: border-box;
    /* Incluye padding y borde dentro del tamaño */
    font-family: 'Poppins', sans-serif;
    /* Aplica la fuente Poppins */
}

html {
    scroll-behavior: smooth;
    /* Hace que el desplazamiento sea suave */
}

body {
    background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url("img/fondo-sobre-mi.png");
    /* Aplica un degradado sobre la imagen de fondo */
    background-size: cover;
    /* La imagen de fondo cubre todo el contenedor */
    background-position: center;
    /* Centra la imagen de fondo */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-attachment: fixed;
    /* La imagen de fondo permanece fija al hacer scroll */
    color: var(--claro);
    /* Aplica el color del texto */
}

img {

    max-width: 100%;
    /* La imagen nunca será más ancha que su contenedor */
    display: block;
    /* Elimina espacios debajo de la imagen */

}

a {
    text-decoration: none;
    /* Quita el subrayado de los enlaces */

}

ul {
    list-style: none;
    /* Elimina los puntos de las listas */
}

/*=================HEADER=================*/
header {
    backdrop-filter: blur(15px);
    width: 100%;
    /* Ocupa todo el ancho de la pantalla */
    height: 85px;
    /* Altura del encabezado */
    display: flex;
    /* Activa Flexbox */
    justify-content: space-between;
    /* Separa logo y menú */
    align-items: center;
    /* Centra verticalmente los elementos */
    padding: 0 8%;
    /* Espacio interno a los lados */
    background: #0b1120a2;
    /* Color de fondo */
    position: fixed;
    /* El header permanece fijo */
    top: 0;
    /* Lo coloca arriba */
    left: 0;
    /* Pegado al borde izquierdo */
    z-index: 999;
    /*orden de apilamiento*/
    box-shadow: 0 3px 12px rgba(0, 0, 0, .35);
    /* Agrega una sombra */
}

/*=================LOGO=================*/
.logo a {
    color: white;
    /* Color del texto */
    font-size: 1.8rem;
    /* Tamaño de la letra */
    font-weight: 700;
    /* Hace la letra más gruesa */
}

.logo a span {
    color: var(--principal);
    /* Cambia el color del texto dentro del span */
}

/*=================MENU=================*/
nav ul {
    display: flex;
    /* Coloca los elementos en fila */
    gap: 35px;
    /* Espacio entre cada opción del menú */
}

nav ul li a {
    color: white;
    /* Color del enlace */
    font-weight: 500;
    /* Grosor medio de la letra */
    transition: .3s;
    /* Hace suave el cambio de color */
    position: relative;
    /* Permite posicionar el ::after */
}

nav ul li a:hover {
    color: var(--principal);
    /* Cambia el color al pasar el mouse */
}

nav ul li a::after {
    content: "";
    /* Crea un elemento vacío */
    position: absolute;
    /* Lo posiciona respecto al enlace */
    left: 0;
    /* Empieza desde la izquierda */
    bottom: -6px;
    /* Lo coloca debajo del texto */
    width: 0;
    /* Inicialmente no se ve */
    height: 2px;
    /* Grosor de la línea */
    background: var(--principal);
    /* Color de la línea */
    transition: .3s;
    /* Hace suave la animación */
}

nav ul li a:hover::after {
    width: 100%;
    /* Hace que la línea aparezca completamente */
}

.active {
    color: var(--principal);
    /* Marca el enlace activo */
}

/*=================MENU HAMBURGUESA=================*/
#menu {
    display: none;
    /* Oculta el checkbox */
}

.menu-icon {
    display: none;
    /* Oculta el icono en computadoras */
    font-size: 30px;
    /* Tamaño del icono */
    color: white;
    /* Color del icono */
    cursor: pointer;
    /* Cambia el cursor a una mano */
}
/*==================== CONTACTO ====================*/

.contacto {

    padding: 140px 8% 80px;
}

.titulo {

    text-align: center;
    margin-bottom: 60px;
}

.titulo h1 {

    font-size: 55px;
    color: #3b82f6;
}

.titulo p {

    color: #d1d5db;
    margin-top: 15px;
}

.contenedor-contacto {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.info,
.formulario {

    background: rgba(255, 255, 255, .08);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, .15);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, .35);

}

.info {

    text-align: center;
}

.info img {

    width: 220px;
    margin: auto;
    margin-bottom: 25px;
}

.info h2 {

    color: #3b82f6;
    margin-bottom: 20px;
}

.info p {

    margin: 18px 0;
}

.info i {

    color: #3b82f6;
    margin-right: 10px;
}

.btn-whatsapp {

    display: inline-block;
    margin-top: 25px;
    background: #25D366;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    transition: .3s;
}

.btn-whatsapp:hover {

    transform: translateY(-5px);
}

form {

    display: flex;
    flex-direction: column;
    gap: 20px;
}

input,
textarea {

    background: rgba(255, 255, 255, .08);
    border: 1px solid rgba(255, 255, 255, .15);
    color: white;
    padding: 15px;
    border-radius: 12px;
    outline: none;

}

input::placeholder,
textarea::placeholder {

    color: #d1d5db;
}

button {

    background: #2563eb;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 17px;
    transition: .3s;
}

button:hover {

    background: #1d4ed8;
    transform: translateY(-4px);
}

.redes-sociales {

    margin-top: 80px;
    text-align: center;
}

.redes-sociales h2 {

    margin-bottom: 30px;
}

.redes-sigueme {

    display: flex;
    justify-content: center;
    gap: 25px;
}

.redes-sigueme a {

    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .08);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    transition: .3s;
}

.redes-sigueme a:hover {

    background: #2563eb;
    transform: translateY(-5px);
}

/*=========================================FOOTER=========================================*/

footer {
    background: rgba(255, 255, 255, .08);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, .15);
    border-radius: 20px;
    overflow: hidden;
    transition: .4s;
    box-shadow: 0 8px 32px rgba(0, 0, 0, .25);
    /* Define el color de fondo del pie de página */
    padding: 45px 8%;
    /* Agrega espacio interno arriba/abajo y a los lados */
    text-align: center;
    /* Centra todo el contenido del footer */
    border-top: 1px solid rgba(255, 255, 255, .08);
}

footer p {

    color: var(--texto);
    /* Color del párrafo */
    margin-bottom: 25px;
    /* Espacio debajo del párrafo */
}

.redes {

    display: flex;
    /* Activa Flexbox */
    justify-content: center;
    /* Centra los íconos horizontalmente */
    gap: 25px;
    /* Espacio entre los íconos */
    flex-wrap: wrap;
    /* Permite que los íconos bajen a otra línea si no caben */
}

.redes a {

    color: white;
    /* Color de los íconos */
    transition: .3s;
    /* Suaviza el cambio de color */
}

.redes a:hover {

    color: var(--principal);
    /* Cambia el color de los íconos al pasar el cursor */
}

.btn-arriba {
    position: fixed;
    right: 20px;
    bottom: 90px;
    background: var(--principal);
    color: white;
    padding: 12px 15px;
    border-radius: 50%;
    text-decoration: none;
}

.whatsapp {

    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 60px;
    height: 60px;
    background: #25D366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    transition: .3s;
}

.whatsapp:hover {

    transform: scale(1.1);
}

/*=========================================RESPONSIVE TABLET=========================================*/

@media (max-width: 992px){

    .contenedor-contacto{

        grid-template-columns:1fr;
        gap:35px;
    }

    .titulo h1{

        font-size:45px;
    }

    .titulo p{

        max-width:600px;
        margin:auto;
    }

    .info img{

        width:180px;
    }

    .redes{

        flex-wrap:wrap;
    }

}

/*=========================================RESPONSIVE CELULAR=========================================*/

@media (max-width:768px){

    .menu-icon {
    
        display: block;
        /* Muestra el ícono del menú hamburguesa */
        }
    nav {

    position: absolute;
    /* Posiciona el menú respecto al header */
    top: 85px;
    /* Lo coloca debajo del encabezado */
    left: 0;
    /* Lo pega al borde izquierdo */
    width: 100%;
    /* Hace que ocupe todo el ancho */
    background: #0b1120;
    /* Color de fondo del menú */
    max-height: 0;
    /* Inicialmente el menú está cerrado */
    overflow: hidden;
    /* Oculta el contenido que sobresale */
    transition: .4s;
    /* Hace suave la apertura del menú */
    }

    nav ul {

    flex-direction: column;
    /* Coloca las opciones una debajo de otra */
    text-align: center;
    /* Centra el texto */
    gap: 0;
    /* Elimina la separación entre elementos */
    }

    nav ul li {

    padding: 18px 0;
    /* Espacio interno arriba y abajo */
    border-top: 1px solid rgba(255, 255, 255, .08);
    /* Agrega una línea divisoria */
    }

    #menu:checked~nav {

    max-height: 500px;
    /* Expande el menú cuando el checkbox está marcado */
    }

    .contacto{

        padding:120px 6% 70px;
    }

    .titulo h1{

        font-size:36px;
    }

    .titulo p{

        font-size:16px;
    }

    .info,
    .formulario{

        padding:25px;
    }

    .info img{

        width:150px;
    }

    .info h2{

        font-size:28px;
    }

    input,
    textarea{

        font-size:15px;
        padding:14px;
    }

    button{

        width:100%;
        padding:15px;
    }

    .btn-whatsapp{

        width:100%;
        text-align:center;
        padding:15px;
    }

    .redes{

        gap:15px;
    }

    .redes a{

        width:50px;
        height:50px;
        font-size:20px;
    }

    footer{

        padding:25px 15px;
    }

    .whatsapp{

        width:55px;
        height:55px;
        font-size:28px;
        bottom:20px;
        right:20px;
    }

}
